/* Howtouse.css */
@media screen and (min-width: 768px) {
  .scrollable-element {
    /* Your desktop styles here */
    overflow: hidden; /* or any other appropriate style */
  }
}

/* Apply styles for mobile */
@media screen and (max-width: 767px) {
  .scrollable-element {
    /* Your mobile styles here */
    overflow: auto;
  }
}

.all {
    background-color: rgb(125, 125, 125);
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .class {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .gambar {
    max-width: 100%;
    height: auto;
  }
  
.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-button button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2ab731;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.gambar2{
height: 20%;
width: 64%;
padding-top: 2%;
}
.gambar3{
  height: 20%;
  width: 64%;
  padding-top: 2%;
  }
  .note {
    font-size: 4vw; 
  }
  @media screen and (min-width: 768px) {
    .note {
      font-size: 2vw; /* Set your desired font size for desktop */
    }
  }